<div class="col-md-12">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/inicio">Inicio</a></li>
          <li class="breadcrumb-item"><a routerLink="/compras">Compras</a></li>
          <li class="breadcrumb-item"><a routerLink="/listado-proveedores">Proveedores</a></li>
          <li class="breadcrumb-item active" aria-current="page">Añadir proveedores</li>
        </ol>
      </nav>
</div>

<div class="col-md-12 titulo">
  <button class="btn btn-primary" routerLink="/listado-proveedor">
    <strong>Volver</strong>
    <!-- <i class="fas fa-plus-circle"></i> -->
  </button>
</div>




  <div class="col-md-8 offset-md-2 col-12">
    <div class="formulario">
<h1>Crear proveedor</h1>
<form [formGroup]="proveedorForm" (ngSubmit)="crearProv()">
  <div class="form-group">
    <input type="text" class="form-control"
           formControlName="nombre" placeholder="nombre">
  </div>

  <div class="form-group">
    <input type="text" class="form-control"
            formControlName="cif" placeholder="cif" #cif>
  </div>

  <div class="form-group">
   
    <input type="text" class="form-control"
    formControlName="domicilio" placeholder="Domicilio">
  </div>

  <div class="form-group">
    <input type="number" class="form-control"
    formControlName="cp" placeholder="Código Postal">
  </div>

  <div class="form-group">
    <input type="text" class="form-control"
    formControlName="localidad" placeholder="localidad">
  </div>

  <div class="form-group">
    <select type="text" class="form-control"
    formControlName="provincia" >            
      <option *ngFor="let provincia of provincias">
        {{provincia}}
      </option>      
            </select>
  </div>

  <div class="form-group">
    <input type="text" class="form-control"
    formControlName="telefono" placeholder="teléfono">  
  </div>

  <div class="form-group">
    <input type="email" class="form-control"
    formControlName="email" placeholder="Correo Electrónico">  
     
  </div>

  <div class="form-group">
    <input type="text" class="form-control"
    formControlName="contacto" placeholder="contacto">
  </div>

  <button type="submit" class="btn btn-info">
    <span *ngIf="!enviando">Añadir proveedor</span>
    <span *ngIf="enviando">
      <i class="fas fa-spinner fa-pulse"></i>
      </span>
  </button>

  <button routerLink="/listado-proveedores"
  class="btn btn-danger">
    Cancelar
    </button>
 
</form>
 <p class="alert alert-warning" [@alerta]="estadoAlerta">{{mensaje}}</p>
</div>
</div>
