.menu-inicio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    width: 300px;
    height: 200px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    cursor: pointer;
    transition: 500ms all;
}
.box span{
    font-size: 80px;

}
.box p{
    color: white;
    font-size: 26;

}
.rojo {background-color: #d9534f; }
.rojo:hover {background-color: #a7403c; }
.rojo span {color:#c54b47;}
.verde {background-color: #5cb85c;}
.verde:hover {background-color: #4d974d;}
.verde span {color:#509e50;}
.azul {background-color: #428bca;}
.azul:hover {background-color: #2e699c;}
.azul span {color:#2e699cbd;}

.titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

}

.titulo span{
    font-size: 20px;
}
.formulario{
    padding:20px 20px 40px;
}