<div class="col-md-12">
  <nav aria-label="breadcrumb" routerLink="listado-proveedores" >
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page" >Inicio</li>
    </ol>
  </nav>
</div>
<div class="col-md-12 menu-inicio">
  
  <div class="box rojo" routerLink="/compras">
    <span> <i class="fas fa-shopping-cart"></i></span>
    <p>Compras</p>
    
  </div>
  <div class="box verde">
      <span><i class="fas fa-hand-holding-usd"></i></span>
      <p>ventas</p>
      
    </div>
    <div class="box azul">
        <span> <i class="fas fa-briefcase"></i></span>
        <p>Contabilidad</p>
        
      </div>
</div>